body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-top: 100px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

button {
    width: 10%;
    margin-top: 10px;
    border-radius: 5px;
}